<div class='border border-black rounded-md p-4'>
  <%= link_to user_post_path(@user, post), class:'inline-block' do %>
    <h3><%= post.title %></h3>
    <p><%= post.text %></p>
  <% end %>
  <div class='mt-4 flex border border-black w-auto justify-end items-center gap-x-4 text-sm'>
    <span>Comments: <%= post.comments.count %></span>
    <span class='my-4 flex justify-end items-center gap-4 text-sm'>
      <%= button_to 'Like', post_likes_path(post, user_id: @user.id), method: :post, class: 'bg-orange-500 px-4 py-2 rounded-md text-white', remote: true %>
      <span><span id="likes-count"><%= post.likes.count %></span></span>  
    </span>
    <span><%= link_to 'Comment', new_user_post_comment_path(@user, post), class: 'bg-blue-500 px-4 py-2 rounded-md text-white' %></span>
  </div>

  <% if can? :destroy, post %>
    <%= button_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <% end %>

  <% if show_comments %>
    <%= render '/shared/comment_list', post: post %>
  <% end %>
</div>  