<section class='flex flex-col w-[500px] mb-[5rem] justify-start items-center'>
  <section class='w-[500px] border-black'>
    <h1 class='font-medium text-4xl font-medium mb-4'>All Posts by <%= @user.name %></h1>
    <p class='font-medium mb-2'>Number of Posts: <%= @user.posts.count %></p>
    <%= render '/userprofile' %>
    
    <ul class='w-full mt-8 flex flex-col justify-start w-full items-start gap-4'>
      <% @posts.each_with_index do |post, index| %>
        <li>
          <%= render '/post', post: post, show_comments: true %>
        </li>
      <% end %>
    </ul>
    
    <button class='mt-8 mr-4 px-6 py-2 rounded-md bg-blue-500 text-white font-medium'>
      <span><%= link_to 'Next', user_posts_path(page: (@page.to_i + 1)), class: 'btn' %></span>
    </button>

    <% if @page.to_i > 0 %>
      <button class='mt-4 ml-4 p-x-6 py-2 font-medium bg-blue-500 text-white rounded-md'>
        <%= link_to 'Prev', user_posts_path(page: (@page.to_i - 1)), class: 'btn' %>
      </button>
    <% end %>
      
    <div class='mt-4 font-semibold'>
      <%= link_to 'Back to Profile', user_path(@user), class: 'btn' %>
    </div>
  </section>
</section>
