<h1 class='font-semibold text-3xl mb-6'><%= @post.title %></h1>

<div class='mt-8'>
  <%= link_to 'Back to Posts', user_posts_path(@post.author) %>
</div>

<section class='w-[500px] border mb-[5rem]'>
  <div class='flex justify-between items-center'>
    <p class='font-medium'>Post <%= @post.id %> by <%= @post.author.name %></p>
    <p class='text-[14px]'>Comments: <%= @post.comments.count %> Likes <%= @post.likes.count %></p>
  </div>

  <div class='mt-8'>
    <p><%= @post.text %></p>
  </div>
  
  <div class='mt-8'>
    <p class='font-medium'>Comments</p>
    <ul class='mt-4'>
      <%= render '/shared/comment_list', post: @post %>
    </ul>
  </div>

  <button class='mt-8 px-4 py-2 bg-blue-500 rounded-md text-white'>
    <%= link_to 'Create New Comment', new_user_post_comment_path(@post.author, @post) %>
  </button>
</section>

  
</section>
